body {
    font-family: cursive;
    background-color: #FAE0DC;
    color: brown;
    padding: 50px;
  }
  
  #submit {
    width: 400px;
  }
  
  #name, #email, #number, #dropdown {
    width: 500px;
    height: 40px;
  }
  
  #img {
    float: right;
    width: 350px;
  }